.menu-container > a {
  text-decoration: none;
  color: #B4B5B7;
}
.menu-container > a:hover{
  color: #B4B5B7;
}
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  padding: 0;
  margin: 0;
}

body {
  color: #B4B5B7;
  background-color: #1C1E23;
  margin-bottom: 60px;
  padding: 0;
  margin: 0;
}
.footer {
  border-top: 1px solid #131418;
  position: absolute;
  max-height: 50px;
  bottom: 0;
  width: 100%;
  line-height: 60px; /* Vertically center the text there */
}
.menu-container{
  position: fixed;
  height: 500px;
  width: 200px;
  z-index: 2;
  background-color: #272A31;
  border: 1px solid #131418;
}
.menu-row{
  margin: 20px 0px;
  padding: 0px 10px;
  line-height: 1.5em;
}
.menu-row:hover{
  background-color: rgba(21, 159, 190, 0.5);
}
.header-menu{
  width: 100%;
  background-color: #272A31;
  border-bottom: 1px solid #131418;
}
.select-language{
  background-color: #272A31;
  color: #B4B5B7;
  border-radius: 5px;
}
/*.active{
  color: #15A0BF;
}*/
.logo{
    width: 10%;
}