
@{
    ViewData["Title"] = "List";
}
<div class="container d-flex justify-content-center">
    <div class="list-board">
        <div class="row">
            <div class="col-12 text-center">
                <h1>@Localizer["List"]</h1>
            </div>
        </div>
        <!--List start-->
        <!--List Head start-->
        
        <div class="row text-center bg-head-color">
            <div class="col-2">Id</div>
            <div class="col-4">Domain</div>
            <div class="col-3">Online</div>
            <div class="col-3">Last seen</div>
        </div>
        <!--List Head end-->
    </div>
</div>

