
@{
    ViewData["Title"] = ViewData["Invitation"];
}
<div class="contatiner">
    <div class="row">
        <div class="col-12">
            <h1>@ViewData["Invitation"]</h1>
        </div>
        <div class="col-12 text-center">
            <button class="invitation-btn">@ViewData["Generate new invitation"]</button>
        </div>
    </div>
</div>
<script>
    console.log("@ViewData["Result"]");
</script>


