@model ChangePasswordModel

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<div class="container d-flex justify-content-center">
    <div class="row">
        <div class="col-12">
            <form asp-controller="UserSettings" class="auth-form" asp-action="ChangePassword" method="post">
                <h2>@Localizer["Change password"]</h2>
                <hr />
                <div asp-validation-summary="ModelOnly"></div>

                <div class="form-group">
                    <label asp-for="OldPassword"></label>
                    <input asp-for="OldPassword" />
                    <span asp-validation-for="OldPassword"></span>
                </div>

                <div class="form-group">
                    <label asp-for="NewPassword"></label>
                    <input asp-for="NewPassword" />
                    <span asp-validation-for="NewPassword"></span>
                </div>

                <div class="form-group">
                    <label asp-for="RePassword"></label>
                    <input asp-for="RePassword" />
                    <span asp-validation-for="RePassword"></span>
                </div>

                <button class="btn btn-primary mt-2 w-100">@Localizer["Save"]</button>
            </form>
        </div>
    </div>
</div>
