@{
    ViewData["Title"] = Localizer["Statistics"];
}

<div class="contatiner d-flex justify-content-center">
    <div class="row">
        <div class="invitation-board">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center">@Localizer["Statistics"]</h1>
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div id="GeoMap" class="Large-chart"></div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-6">
                    <div id="piechart" class="Small-chart"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/CountryClass.js"></script>
<script type="text/javascript">
    
    function setMap(data) {
        var country = [];
        var vot = false;
        for (var i = 0; i < data.length; i++) {
            for (var j = 0; j < country.length; j++) {
                if (country[j].Country == data[i].countryCode) {
                    vot = true;
                    country[j].setPiece = parseInt(country[j].getPiece) + 1;
                    break;
                }
            }
            if (!vot) {
                country.push(new Country(data[i].countryCode, 1));
                vot = false;
            }
        }
        google.charts.load('current', {
            'packages': ['geochart'],
            // Note: you will need to get a mapsApiKey for your project.
            // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
            'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
        });
        google.charts.setOnLoadCallback(drawRegionsMap);

        function drawRegionsMap() {
            var CArray = [['Country', 'Popularity']];
            for (var i = 0; i < country.length; i++) {
                var Citem = [country[i].getCountry, country[i].getPiece];
                CArray.push(Citem);
            }

            var data = google.visualization.arrayToDataTable(CArray);

            var options = {
                defaultColor: '#7e7f80',
                colorAxis: { colors: ['#666769', '#15A0BF'] },
                backgroundColor: 'transparent'
            };

            var chart = new google.visualization.GeoChart(document.getElementById('GeoMap'));

            chart.draw(data, options);
        }
    }
    
    function BotStatus(data) {
        function addMinutes(date, minutes) {
            return new Date(date.getTime() + minutes * 60000);
        }
        console.log(data);
        var date = addMinutes(new Date(data[0].lastLoggedInUTC), 5);
        var status = [0, 0];
        for (var i = 0; i < data.length; i++) {
            if (addMinutes(new Date(data[i].lastLoggedInUTC), 5) > Date.now()) {
                status[0] = status[0] + 1;
            } else {
                status[1] = status[1] + 1;
            }
        }

        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = google.visualization.arrayToDataTable([
                ['Status', 'Piece'],
                ['Online', status[0]],
                ['Offline', status[1]]
            ]);

            var options = {
                title: 'Status',
                backgroundColor: 'transparent',
                titleTextStyle: {
                    color: 'white'
                },
                tooltip: {
                    textStyle: { color: 'black' },
                },
                pieSliceTextStyle: {
                    color: 'white'
                },
                legend: {
                    textStyle: {
                        color: 'white'
                    }
                }
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(data, options);
        }
    }
    $(document).ready(function () {
        BotList();
    });
    function BotList() {
        $.ajax({
            type: 'GET',
            url: '/Statics/BotList',
            dataType: 'json',
            success: function (data) {
                setMap(data);
                BotStatus(data);
            }
        });
    }

</script>

